{% extends "components/master.html" %}
{% block content %}
    <div class="post-container"
        style="width: 60%;
            background: white;
            padding: 20px;
            margin: 20px 0px;
            border-radius: 5px;"
    >
        <form class="form-horizontal" id="postForm">
          <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="title" id="title" placeholder="Less than 100 characters" required>
            </div>
          </div>
          <div class="form-group">
            <label for="dag" class="col-sm-2 control-label">Destination</label>
            <div class="col-sm-10">
              <input maxlength="50" type="text" class="form-control" name="destination" id="destination" placeholder="Destination">
            </div>
          </div>
          <div class="form-group">
            <label for="activity_time" class="col-sm-2 control-label">Activity Time</label>
            <div class="col-sm-10">
              <input maxlength="50" type="datetime-local" class="form-control" name="activity_time" id="activity_time" placeholder="Activity Time">
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea maxlength="500" name="description" id="description" class="form-control" rows="4"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Content</label>
            <div class="col-sm-10">
              <div id="editor"></div>
            </div>
          </div>
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary btn-block">Submit</button>
              </div>
          </div>
        </form>
{#      <div class="form-group">#}
{#        <div class="col-sm-offset-2 col-sm-10">#}
{#          <button class="btn btn-default" id="btn-submit">Submit</button>#}
{#        </div>#}
{#      </div>#}
    </div>
{% endblock %}
{% block js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/wangEditor.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/i18next.min.js') }}"></script>
    <script>
        const E = window.wangEditor;
        const i18next = window.i18next;
        let editor = new E('#editor');
        editor.config.lang = 'en';
        editor.i18next = i18next;
        editor.config.uploadImgServer = 'http://127.0.0.1:5000/uploadImage';
        editor.config.uploadImgMaxLength = 1;
        editor.config.customUploadImg = (resultFiles, insertImgFn) => {
            const formData = new FormData()
            formData.append('file', resultFiles[0])
            const xhr = new XMLHttpRequest()
            xhr.onerror = (err) => {
                alert(err);
                console.log(err)
            };
            xhr.onload = () => {
                if (xhr.status < 200 || xhr.status >= 300) {
                    return false
                }
                const resData = JSON.parse(xhr.responseText);
                if (resData.data.error === 0) {
                    const url = resData.data.url;
                    insertImgFn(url)
                }
            };
            xhr.open('post', 'http://127.0.0.1:5000/uploadImage', true);
            xhr.send(formData)
        };
        editor.create();
        $('#btn-submit').click(() => {
            console.log(encodeURIComponent(editor.txt.html()))
            console.log($('#title').val())
            console.log($('#tag').val())
        })
        $('#postForm').submit(function(){
            submitData();
            return false;
        });
        function submitData() {
            let data = {};
            let value = $("#postForm").serializeArray();
            $.each(value, function (index, item) {
              data[item.name] = item.value;
            });
            let content = editor.txt.html();
            if (!content) {
                alert('Please input your post content.');
                return false;
            }
            data.content = encodeURIComponent(editor.txt.html());
            data.activity_time = new Date(data.activity_time).getTime()
            console.log(data);
            $.ajax({
                method: 'post',
                url: '/doCreateActivity',
                data: JSON.stringify(data),
                contentType: 'application/json;charset=UTF-8',
                success: function(res) {
                    if (res === '0000') {
                        alert('Done!');
                        window.location.href = '/activity';
                    } else if (res === '9999') {
                        alert('Please login first.');
                    } else {
                        alert('Error!');
                    }
                },
                error: function(err) {
                    alert('Sorry, there is a problem with your operation.');
                }
            });
        }
    </script>
{% endblock %}